/.idea
/.lift
/.vscode
/Algorithms, Part I.iml
/algorithms.txt
/animals.txt
/animals25.txt
/animals8.txt
/biased-coin.txt
/coin.txt
/colors.txt
/die.txt
/dream.txt
/HelloWorld.java
/loaded-die.txt
/logo.png
/names.txt
/Percolation.java
/tinyTale.txt
/two-dice.txt
/WELCOME.txt